<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>
<body>

<form method="get" action="/songs">
	Song title: <input type="text" name="title">
	<input type="submit" value="Search">
</form>

</body>
</html>